<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901218198892-h9qjlnjhptlou2888go570djdg9l82ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901218198892-h9qjlnjhptlou2888go570djdg9l82ov</string>
	<key>API_KEY</key>
	<string>AIzaSyCpekgQ4lEv0Lu50p6shIBU6hm2Akwvh08</string>
	<key>GCM_SENDER_ID</key>
	<string>901218198892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>German.pokeApi</string>
	<key>PROJECT_ID</key>
	<string>pokedex-ger</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-ger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901218198892:ios:443f78dccf66a5bc757f49</string>
	<key>DATABASE_URL</key>
	<string>https://pokedex-ger-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>